/*

ESIGN CSS FRAMEWORK EXTENSION LIBRARY
By ©2019-NOW Doublepicebs
https://doublepicebs.github.io/esign

*/

@import url('https://fonts.googleapis.com/css?family=Harmattan|Raleway&display=swap');

body {
  font-family: 'Raleway', serif;
  font-size: 14px;
  color: #424242;
  margin: 0;
}


/*NAVBAR*/

.es-navbar {
  dispaly: flex;
  position: fixed;
  width: 100%;
  background-color: black;
  color: #E0E0E0;
  padding: 0.5rem;
}

.es-navbar-brand {
  color: white;
  font-size: 2rem;
  float: left;
}

.es-navbar-title a {
  text-decoration: none;
}

.es-navbar-burger {
  float: right;
  width: 2rem;
  height: 2rem;
  font-size: 2rem; /*if the burger was text-based*/
  font-weight: lighter;
  padding-right: 1rem;
}

.es-has-navbar-fixed {
  padding-top: 3.5rem;
}


/*IMAGES*/

.es-img {
  width: 95%;
}

.es-icon {
 width: 15%; 
 max-height: 4rem;
 -webkit-border-radius: 15%;
 -moz-border-radius: 15%;
 border-radius: 15%;
}


/*HERO*/

.es-hero {
  background-color: #E0E0E0;
  padding: 1rem;
}

.es-hero-title {
  color: black;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.es-hero-subtitle {
  color: #212121;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
}


/*TYPOGRAPHY*/

.es-arabic {
  font-family: 'Harmattan', serif ;
}

.es-title {
  color: black;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.es-subtitle {
  color: #212121;
  letter-spacing: 0.1rem;
}

.es-flex {
  display: flex;
}

.es-para {
  line-height: 1.1rem;
}

.es-para-pad {
  margin-left: 1.5rem;
}

.es-flex .es-para {
  line-height: relative;
}
